body{
    display: flex;
} 

#container1{
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
} #container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 500px;
} #code {
    font-size: larger;
    border-radius: 3px;
    width: 390px;
    height: 300px;
}