main {
    display: flex;
    flex-wrap: wrap;
}
.item {
    display: flex;
    border-radius: 30%;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: 12px;
    border: none;
    font-size: medium;
}
