body {
    color: rgba(212, 212, 212, 0.623);
    font-size: 18px;
    background: url('../Imagens/minimalist.jpg');
    background-size: cover;

}.item {
    height: 100px;
    width: 100px;
    transition: 90ms;
}.item:hover {
    font-size: 20px;
    margin-top: 3px;
    opacity: 10px;
}
main:hover > :not(:hover) {
    opacity: 0.6;
}